@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
    color: yellow;
}

body {
    font-family: 'Star Jedi', arial;
    background-image: url('stars.jpg');
}

.spinner {
    width: 300px;
}

.hidden {
    display: none;
}

.movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.movies img {
    width: 400px;
    margin: 20px;
    margin-top: 36px;
}

main {
    text-align: center;
}

.movie-listing {
    display: grid;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h1 a {
    text-align: center;
    text-decoration: none;
}

.movie img {
    width: 500px;
    display: block;
    justify-self: center;
}

.movie {
    text-align: center;
    justify-content: center;
    display: block;
}

.characters {
    list-style: none;
}